<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Todo App</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content">
    <form [formGroup]="form" (ngSubmit)="addTodo()">
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
            <mat-label>Task Idx: {{editElemIdx}} </mat-label>
            <mat-label>Task: </mat-label>
            <input matInput placeholder="Add Todo" formControlName="task">
        </mat-form-field>
        <div>
            <mat-label>Priority: </mat-label>
            <mat-radio-group arial-label="Select an Option" formControlName="priority">
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">{{p}}</mat-radio-button> 
            </mat-radio-group>
        </div>
        <div>
            <button mat-raised-button color="primary" *ngIf="!editMode" type="submit">Add</button>
            <button mat-raised-button color="primary" *ngIf="editMode" type="button" (click)="updateTodo()">Update</button>
            <button mat-raised-button color="primary" *ngIf="editMode" type="button" (click)="cancelUpdateTodo()">Cancel</button>
        </div>
    </form>
</div>

<!-- list of todos-->
<div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let todo of todos">
            <mat-checkbox (change)="toggleComplete(todo)" [checked]="todo.status">{{todo.task}} {{todo.taskId}}</mat-checkbox>
            &nbsp;
            <button mat-icon-button (click)="edit(todo)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>